<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.theStarsLikeDust.generator.mapper.IllegalRecordMapper">

    <resultMap id="BaseResultMap" type="top.theStarsLikeDust.generator.entity.IllegalRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="typeOfOffenseId" column="type_of_offense_id" jdbcType="INTEGER"/>
            <result property="behavior" column="behavior" jdbcType="VARCHAR"/>
            <result property="timeofcrime" column="timeOfCrime" jdbcType="TIMESTAMP"/>
            <result property="placeofcrime" column="placeOfCrime" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="personnelId" column="personnel_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type_of_offense_id,behavior,
        timeOfCrime,placeOfCrime,description,
        personnel_id
    </sql>
</mapper>
